<!--Main Container-->
<main role="main" class="container m-top-56">
  <h1 class="border-bottom-5 text-uppercase">Contact Us</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Our Office Address:</h5>
      <p class="card-text">
        XYZ Farm, abc street road, Locality name, Area - Pincode
      </p>
      <a href="tel:+91 9999999999" class="btn btn-success">Call Us on 9999999999</a>
      <a href="mailto:xyz@gmail.com?Subject=Queries" target="_top" class="btn btn-default">Email Us on xyz@gmail.com</a>
    </div>
  </div>
</main>
