<footer class="footer">
  <div class="conatiner">
    <div class="row">
      <div class="col">
        <div class="copyright">
          <span class="mbr-text mbr-fonts-style display-7">
            © Copyright 2017 XYZ- All Rights Reserved
          </span>
        </div>
      </div>
      <div class="col">
        <div class="social-links text-right">
          <a href="https://twitter.com/" target="_blank">
            <img class="social-icon" title="Tweet us on" src="../../../assets/images/if_square-twitter_317723.png" />
          </a>
          <a href="https://www.facebook.com/" target="_blank" title="Like us on">
            <img class="social-icon" src="../../../assets/images/if_square-facebook_317727 (1).png" />
          </a>
          <a href="https://instagram.com/" target="_blank" title="Follow us on">
            <img class="social-icon" src="../../../assets/images/if_instagram_317738.png" />
          </a>
          <a href="https://plus.google.com/" target="_blank" title="Connect us on">
            <img class="social-icon" src="../../../assets/images/if_square-google-plus_317726.png" />
          </a>
        </div>
      </div>
    </div>
  </div>


</footer>
